table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
  table-layout: fixed
}

tbody tr:nth-child(odd) {
  background-color: #eee;
}

tbody tr:nth-child(even) {
  background-color: #fff;
}



.tabulator-header {
  font-family: Arial, sans-serif;
  font-size:13;
}

.tabulator .tabulator-header .tabulator-col .tabulator-header-filter input,
.tabulator .tabulator-header .tabulator-col .tabulator-header-filter select {
  font-size:13;
}

.tabulator-row  {
  font-family: Arial, sans-serif;
  font-size:13;
  text-align: left;
}

h1 {
    text-align: left;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size:24;
}

h2 {
    text-align: center;
    font-weight: normal;
    font-family: Arial, sans-serif;
    font-size:28;
    padding: 0;
}

body {
  font-family: Arial, sans-serif;
  font-size:13;
}

.th0_nm {
    text-align: center;
    font-weight: bold;
    font-size:20;
    padding-top:5px;
    padding-bottom:5px;
    background: #BB0000;
    color: white;
    font-family: Arial, sans-serif;
}

.th0_caq {
    text-align: center;
    font-weight: bold;
    font-size:20;
    padding-top:4px;
    padding-bottom:4px;
    background: #2D68C4;
    color: white;
    font-family: Arial, sans-serif;
}

.th1_nm {
    text-align: center;
    font-weight: bold;
    font-size:15;
    padding-top:4px;
    padding-bottom:4px;
    background: #BB0000;
    color: white;
    font-family: Arial, sans-serif;
}

.th1_caq {
    text-align: center;
    font-weight: bold;
    font-size:14;
    padding-top:4px;
    padding-bottom:4px;
    background: #2D68C4;
    color: #fcd835;
    color: white;

  /*  background: #fcd835;
    color: #2D68C4; */

    font-family: Arial, sans-serif;
}

.th2_nm {
    text-align: center;
    font-weight: bold;
    font-size:14;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    background: #fcd835;
    font-family: Arial, sans-serif;
}
.th2_caq {
    text-align: center;
    font-weight: bold;
    font-size:14;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:5px;
    padding-right:5px;
    background: #fcd835;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.th3_caq {
    text-align: center;
    font-weight: bold;
    font-size:14;
    padding-top:4px;
    padding-bottom:4px;
    padding-left:5px;
    padding-right:5px;
    background: #bdd1f0;
    min-width: 80px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}
.th3_nm {
    text-align: center;
    font-weight: bold;
    font-size:14;
    padding-top:5px;
    padding-bottom:5px;
    padding-left:5px;
    padding-right:5px;
    background: #37BFBDFF;
    min-width: 80px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.td1_nm {
    text-align: center;
    font-size:13;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 150px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

.td1_caq {
    text-align: center;
    font-size:13;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 150px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.td2_name {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 175px;
}

.td2_name_date_time {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 180px;
}

.td2_name_record {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 3px;
    padding-bottom: 3px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 175px;
    background-image: url(nm_flag.png);
    background-size: 25px;
    background-repeat: no-repeat;
}

.td2 {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 75px;
}

.td2_date {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 95px;
}

.td2_time {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 70px;
}

table {
  float: left
}

.td2_rank {
    text-align: center;
    font-size:14;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
    min-width: 25px;
    font-weight: bold;
}


.td3_nm {
    text-align: center;
    font-size:13;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 50px;
    white-space: nowrap;
    font-family: Arial, sans-serif;
}

.td3_caq {
    text-align: center;
    font-size:13;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    min-width: 50px;
    font-family: Arial, sans-serif;
    white-space: nowrap;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto minmax(0,1fr);
  padding: 5px;
}

.grid-container-6-columns {
  display: grid;
  padding: 0px;
  grid-template-columns: auto auto auto auto auto auto minmax(0,1fr)
}
.grid-container-7-columns {
  display: grid;
  padding: 0px;
  grid-template-columns: auto auto auto auto auto auto auto minmax(0,1fr)
}

.grid-container-9-columns {
  display: grid;
  padding: 0px;
  grid-template-columns: auto auto auto auto auto auto auto auto auto minmax(0,1fr)
}

.grid-container-4-columns {
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto auto auto minmax(0,1fr)
}

.grid-container-5-columns {
  display: grid;
  padding: 5px;
  grid-template-columns: auto auto auto auto auto minmax(0,1fr)
}

.grid-container-3-columns {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto minmax(0,1fr)
}

.grid-container-2-columns {
  display: grid;
  padding: 10px;
  grid-template-columns: auto auto minmax(0,1fr)
}
.grid-item {
  padding: 10px;
  text-align: center;
  min-width: 400px;
}

.box1 {
  grid-column-start: 1;
  grid-column-end: 4;
  text-align: center;
  padding: 0px;
}
